p {
  font-size: 15px;
  font-weight: bold;  
}
.btn-container {
  margin-top: 2rem;
}
.btn-add {  
  float: right;
  margin-bottom: .5rem;
}
.form-input {
  margin-top: 1rem;
}
.btn-remove {
  float: right;
}
.btn-save {
  margin-top: 2rem;
  float: right;
}
.data-table {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.btn-delete {
  margin-left: 10px;
}
.data-label {
  text-align: center;
}